CntContactCardHeadingItem[icon][primary_text][!secondary_text][!marquee_item][!first_line_text][!second_line_text]{
    layout:layout_one_row;
}

CntContactCardHeadingItem[icon][first_line_text][secondary_text][marquee_item][!primary_text][!second_line_text]{
    layout:layout_three_rows;
}

CntContactCardHeadingItem[primary_text][!secondary_text][!marquee_item][!first_line_text][!second_line_text]:landscape{
    layout:layout_one_row-landscape;
}

CntContactCardHeadingItem[first_line_text][secondary_text][marquee_item][!primary_text][!second_line_text]:landscape{
    layout:layout_three_rows-landscape;
}

CntContactCardHeadingItem:landscape{
    layout:layout_two_rows-landscape;
}

CntContactCardHeadingItem{
    layout:layout_two_rows;
}

CntContactCardHeadingItem::icon{
    fixed-width:var(hb-param-graphic-size-primary-large);
		fixed-height:var(hb-param-graphic-size-primary-large);
}

CntContactCardHeadingItem::first_line_text{
    text-height:var(hb-param-text-height-primary);
    font-variant:primary;
    text-align:left;
}

CntContactCardHeadingItem::primary_text{
    text-height:var(hb-param-text-height-primary);
    font-variant:primary;
    text-align:left;
}

CntContactCardHeadingItem::second_line_text{
    text-height:var(hb-param-text-height-primary);
    font-variant:primary;
    text-align:left;
}

CntContactCardHeadingItem::secondary_text{
    text-height:var(hb-param-text-height-secondary);
    font-variant:secondary;
    text-align:left;
}

CntContactCardHeadingItem::marquee_item{
    text-height:var(hb-param-text-height-tiny);
    font-variant:primary-small;
    text-align:left;
}

CntContactCardHeadingItem::secondary_icon{
  fixed-height: var(hb-param-graphic-size-primary-small);
  fixed-width: var(hb-param-graphic-size-primary-small);
}

CntContactCardHeadingItem::background{
    left:0.0un;
    right:0.0un;
    top:0.0un;
    bottom:0.0un;
}
