CntHistoryViewItemWidget[incoming][titleExist][bodyTextExist]{
    layout:layout_incoming_title_bodytext_timestamp;
}

CntHistoryViewItemWidget[!incoming][titleExist][bodyTextExist]{
    layout:layout_outgoing_title_bodytext_timestamp;
}

CntHistoryViewItemWidget[incoming][!titleExist][bodyTextExist]{
    layout:layout_incoming_bodytext_timestamp;
}

CntHistoryViewItemWidget[!incoming][!titleExist][bodyTextExist]{
    layout:layout_outgoing_bodytext_timestamp;
}

CntHistoryViewItemWidget[incoming][titleExist][!bodyTextExist]{
    layout:layout_incoming_title_timestamp;
}

CntHistoryViewItemWidget[!incoming][titleExist][!bodyTextExist]{
    layout:layout_outgoing_title_timestamp;
}

CntHistoryViewItemWidget::title{
    text-height:var(hb-param-text-height-primary);
    font-variant:primary;
}

CntHistoryViewItemWidget::bodyText{
    text-height:var(hb-param-text-height-secondary);
    text-line-count-max:3;
    font-variant:secondary;
}

CntHistoryViewItemWidget::timeStamp{
    text-height:var(hb-param-text-height-secondary);
    font-variant:secondary;
    text-height:var(hb-param-text-height-tiny);
}

CntHistoryViewItemWidget::icon{
    fixed-width:var(hb-param-graphic-size-primary-small);
    fixed-height:var(hb-param-graphic-size-primary-small);
}

CntHistoryViewItemWidget::frame{
	border-width: var(hb-param-background-list-main);
}
